In [352]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import os
from dotenv import load_dotenv
load_dotenv()

True

In [353]:
DATA_PATH = os.environ.get("DATA_PATH")

In [354]:
df = pd.read_csv(os.path.join(DATA_PATH, "modelling_data.csv"))

In [355]:
df["count"].value_counts() #can drop this inconsequential column

count
1    79672
Name: count, dtype: int64

In [356]:
df.drop(["count"], axis=1, inplace=True)

In [357]:
df.head().T

,0,1,2,3,4
age_upon_intake,10 years,7 years,6 years,10 years,16 years
animal_type,Dog,Dog,Dog,Dog,Dog
intake_condition,Normal,Normal,Normal,Normal,Injured
intake_type,Stray,Public Assist,Public Assist,Owner Surrender,Public Assist
sex_upon_intake,Neutered Male,Neutered Male,Neutered Male,Neutered Male,Neutered Male
age_upon_intake_(years),10.0,7.0,6.0,10.0,16.0
age_upon_intake_age_group,"(7.5, 10.0]","(5.0, 7.5]","(5.0, 7.5]","(7.5, 10.0]","(15.0, 17.5]"
intake_month,12,12,3,4,11
intake_weekday,Thursday,Friday,Friday,Wednesday,Saturday
intake_hour,14,10,14,15,9
intake_number,1.0,2.0,3.0,1.0,1.0
time_in_shelter,0 days 14:07:00.000000000,1 days 06:14:00.000000000,1 days 02:44:00.000000000,4 days 23:17:00.000000000,0 days 02:52:00.000000000
time_in_shelter_days,0.588194,1.259722,1.113889,4.970139,0.119444
is_mix,Yes,Yes,Yes,No,No
parent_breed,Spinone Italiano,Spinone Italiano,Spinone Italiano,Dachshund,Shetland Sheepdog
breed_unsure,Spinone Italiano,Spinone Italiano,Spinone Italiano,Dachshund,Shetland Sheepdog
color_combination,Yellow and White,Yellow and White,Yellow and White,Tricolor,Brown and White
animal_has_multicolor_fur,Yes,Yes,Yes,No,Yes
outcome_type,Return to Owner,Return to Owner,Return to Owner,Transfer,Return to Owner

## Data cleaning

In [358]:
df["time_in_shelter_days"] = df["time_in_shelter_days"].apply(lambda x: round(x, 2))

In [359]:
df["time_in_shelter_days"]

0        0.59
1        1.26
2        1.11
3        4.97
4        0.12
         ...
79667    0.08
79668    0.05
79669    0.05
79670    1.76
79671    0.81
Name: time_in_shelter_days, Length: 79672, dtype: float64

In [360]:
df.head()

,age_upon_intake,animal_type,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(years),age_upon_intake_age_group,intake_month,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days,is_mix,parent_breed,breed_unsure,color_combination,animal_has_multicolor_fur,outcome_type
0,10 years,Dog,Normal,Stray,Neutered Male,10.0,"(7.5, 10.0]",12,Thursday,14,1.0,0 days 14:07:00.000000000,0.59,Yes,Spinone Italiano,Spinone Italiano,Yellow and White,Yes,Return to Owner
1,7 years,Dog,Normal,Public Assist,Neutered Male,7.0,"(5.0, 7.5]",12,Friday,10,2.0,1 days 06:14:00.000000000,1.26,Yes,Spinone Italiano,Spinone Italiano,Yellow and White,Yes,Return to Owner
2,6 years,Dog,Normal,Public Assist,Neutered Male,6.0,"(5.0, 7.5]",3,Friday,14,3.0,1 days 02:44:00.000000000,1.11,Yes,Spinone Italiano,Spinone Italiano,Yellow and White,Yes,Return to Owner
3,10 years,Dog,Normal,Owner Surrender,Neutered Male,10.0,"(7.5, 10.0]",4,Wednesday,15,1.0,4 days 23:17:00.000000000,4.97,No,Dachshund,Dachshund,Tricolor,No,Transfer
4,16 years,Dog,Injured,Public Assist,Neutered Male,16.0,"(15.0, 17.5]",11,Saturday,9,1.0,0 days 02:52:00.000000000,0.12,No,Shetland Sheepdog,Shetland Sheepdog,Brown and White,Yes,Return to Owner

In [361]:
df.columns

Index(['age_upon_intake', 'animal_type', 'intake_condition', 'intake_type',
       'sex_upon_intake', 'age_upon_intake_(years)',
       'age_upon_intake_age_group', 'intake_month', 'intake_weekday',
       'intake_hour', 'intake_number', 'time_in_shelter',
       'time_in_shelter_days', 'is_mix', 'parent_breed', 'breed_unsure',
       'color_combination', 'animal_has_multicolor_fur', 'outcome_type'],
      dtype='object')

In [362]:
df.drop(['age_upon_intake', 'breed_unsure', 'time_in_shelter'], axis=1, inplace=True)

In [363]:
df["intake_number"].value_counts()

intake_number
1.0     71993
2.0      6052
3.0      1152
4.0       302
5.0       101
6.0        39
7.0        15
8.0         7
10.0        3
11.0        3
9.0         3
12.0        1
13.0        1
Name: count, dtype: int64

In [364]:
df

,animal_type,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(years),age_upon_intake_age_group,intake_month,intake_weekday,intake_hour,intake_number,time_in_shelter_days,is_mix,parent_breed,color_combination,animal_has_multicolor_fur,outcome_type
0,Dog,Normal,Stray,Neutered Male,10.000000,"(7.5, 10.0]",12,Thursday,14,1.0,0.59,Yes,Spinone Italiano,Yellow and White,Yes,Return to Owner
1,Dog,Normal,Public Assist,Neutered Male,7.000000,"(5.0, 7.5]",12,Friday,10,2.0,1.26,Yes,Spinone Italiano,Yellow and White,Yes,Return to Owner
2,Dog,Normal,Public Assist,Neutered Male,6.000000,"(5.0, 7.5]",3,Friday,14,3.0,1.11,Yes,Spinone Italiano,Yellow and White,Yes,Return to Owner
3,Dog,Normal,Owner Surrender,Neutered Male,10.000000,"(7.5, 10.0]",4,Wednesday,15,1.0,4.97,No,Dachshund,Tricolor,No,Transfer
4,Dog,Injured,Public Assist,Neutered Male,16.000000,"(15.0, 17.5]",11,Saturday,9,1.0,0.12,No,Shetland Sheepdog,Brown and White,Yes,Return to Owner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79667,Cat,Normal,Stray,Unknown,0.038356,"(-0.025, 2.5]",3,Thursday,16,1.0,0.08,Yes,Domestic Shorthair,Tortie,No,Transfer
79668,Other,Normal,Wildlife,Unknown,2.000000,"(-0.025, 2.5]",3,Thursday,17,1.0,0.05,Yes,Bat,Brown,No,Euthanasia
79669,Other,Normal,Wildlife,Unknown,1.000000,"(-0.025, 2.5]",3,Thursday,17,1.0,0.05,Yes,Bat,Brown,No,Euthanasia
79670,Dog,Normal,Stray,Intact Male,0.410959,"(-0.025, 2.5]",3,Thursday,18,1.0,1.76,Yes,Labrador Retriever,Black and White,Yes,Return to Owner
79671,Dog,Aged,Stray,Spayed Female,10.000000,"(7.5, 10.0]",3,Thursday,18,1.0,0.81,Yes,Boxer,Brown Brindle,No,Euthanasia

In [365]:
def get_encodings(df_variable):
    enc = {}
    for i, count_ in enumerate(df_variable.unique()):
        enc[i] = count_
    return enc

In [366]:
get_encodings(df['animal_type'])

{0: 'Dog', 1: 'Cat', 2: 'Other', 3: 'Bird'}

In [367]:
get_encodings(df['intake_condition'])

{0: 'Normal',
 1: 'Injured',
 2: 'Aged',
 3: 'Sick',
 4: 'Other',
 5: 'Feral',
 6: 'Pregnant',
 7: 'Nursing'}

In [368]:
get_encodings(df['sex_upon_intake'])

{0: 'Neutered Male',
 1: 'Spayed Female',
 2: 'Intact Female',
 3: 'Intact Male',
 4: 'Unknown'}

In [369]:
get_encodings(df['intake_weekday'])

{0: 'Thursday',
 1: 'Friday',
 2: 'Wednesday',
 3: 'Saturday',
 4: 'Monday',
 5: 'Tuesday',
 6: 'Sunday'}

In [370]:
get_encodings(df['is_mix'])

{0: 'Yes', 1: 'No'}

In [371]:
df['color_combination'].nunique()

529

In [372]:
df['color_combination'].value_counts().nlargest(10)

color_combination
Black and White          8270
Black                    6673
Brown Tabby              4471
Brown                    3598
White                    2835
Brown and White          2516
Tan and White            2462
Brown Tabby and White    2351
Orange Tabby             2182
White and Black          2172
Name: count, dtype: int64

In [373]:
get_encodings(df['animal_has_multicolor_fur'])

{0: 'Yes', 1: 'No'}

In [374]:
df['parent_breed'].value_counts().nlargest(10)

parent_breed
Domestic Shorthair        23423
Pit Bull                   6256
Chihuahua Shorthair        4831
Labrador Retriever         4789
Domestic Medium Hair       2326
German Shepherd            1950
Bat                        1381
Domestic Longhair          1248
Australian Cattle Dog      1099
Siamese                     996
Name: count, dtype: int64

In [375]:
df['animal_type'].value_counts()

animal_type
Dog      45366
Cat      29539
Other     4428
Bird       339
Name: count, dtype: int64

In [376]:
def age_grp_refine(age_group):
    return "_to_".join(age_group.replace("(","").replace("]","").replace("-","").split(", "))

In [377]:
age_grp_refine(df["age_upon_intake_age_group"][2])

'5.0_to_7.5'

In [378]:
df["age_upon_intake_age_group"] = df["age_upon_intake_age_group"].apply(age_grp_refine)

In [379]:
df["age_upon_intake_age_group"].value_counts()

age_upon_intake_age_group
0.025_to_2.5    59593
2.5_to_5.0      11013
7.5_to_10.0      3539
5.0_to_7.5       3422
10.0_to_12.5     1040
12.5_to_15.0      842
15.0_to_17.5      165
17.5_to_20.0       53
20.0_to_22.5        4
22.5_to_25.0        1
Name: count, dtype: int64

In [380]:
df.drop(["parent_breed"], axis=1, inplace=True)

In [381]:
df["intake_hour"].max()

23

In [382]:
def time_of_day_of_intake(time):
    if 0 <= time < 9:
        return "Early morning"
    elif 9 <= time < 12:
        return "Late morning"
    elif 12 <= time < 17:
        return "Afternoon"
    elif 17 <= time < 20:
        return "Evening"
    else:
        return "Night-time"

In [383]:
df["time_of_day_of_intake"] = df["intake_hour"].apply(time_of_day_of_intake)

In [384]:
df["color_combination"].nunique()

529

In [385]:
df["color_combination"].value_counts()

color_combination
Black and White                    8270
Black                              6673
Brown Tabby                        4471
Brown                              3598
White                              2835
                                   ...
Tan and Brown Brindle                 1
Brown Brindle and Brown Brindle       1
Brown and Blue                        1
Yellow and Yellow                     1
Red Merle and Red Merle               1
Name: count, Length: 529, dtype: int64

In [386]:
df.drop(["color_combination"], axis=1, inplace=True)

In [387]:
df

,animal_type,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(years),age_upon_intake_age_group,intake_month,intake_weekday,intake_hour,intake_number,time_in_shelter_days,is_mix,animal_has_multicolor_fur,outcome_type,time_of_day_of_intake
0,Dog,Normal,Stray,Neutered Male,10.000000,7.5_to_10.0,12,Thursday,14,1.0,0.59,Yes,Yes,Return to Owner,Afternoon
1,Dog,Normal,Public Assist,Neutered Male,7.000000,5.0_to_7.5,12,Friday,10,2.0,1.26,Yes,Yes,Return to Owner,Late morning
2,Dog,Normal,Public Assist,Neutered Male,6.000000,5.0_to_7.5,3,Friday,14,3.0,1.11,Yes,Yes,Return to Owner,Afternoon
3,Dog,Normal,Owner Surrender,Neutered Male,10.000000,7.5_to_10.0,4,Wednesday,15,1.0,4.97,No,No,Transfer,Afternoon
4,Dog,Injured,Public Assist,Neutered Male,16.000000,15.0_to_17.5,11,Saturday,9,1.0,0.12,No,Yes,Return to Owner,Late morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79667,Cat,Normal,Stray,Unknown,0.038356,0.025_to_2.5,3,Thursday,16,1.0,0.08,Yes,No,Transfer,Afternoon
79668,Other,Normal,Wildlife,Unknown,2.000000,0.025_to_2.5,3,Thursday,17,1.0,0.05,Yes,No,Euthanasia,Evening
79669,Other,Normal,Wildlife,Unknown,1.000000,0.025_to_2.5,3,Thursday,17,1.0,0.05,Yes,No,Euthanasia,Evening
79670,Dog,Normal,Stray,Intact Male,0.410959,0.025_to_2.5,3,Thursday,18,1.0,1.76,Yes,Yes,Return to Owner,Evening
79671,Dog,Aged,Stray,Spayed Female,10.000000,7.5_to_10.0,3,Thursday,18,1.0,0.81,Yes,No,Euthanasia,Evening

## Zero-shot training (with all features)

In [388]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
from sklearn.model_selection import train_test_split

In [389]:
le_enc = df.copy()

In [390]:
def apply_le(df):
    for col in df.columns:
        if df[col].dtypes == "object":
            df[col] = le.fit_transform(df[col])
        else:
            df[col] = df[col]
    
    return df

In [391]:
le_enc = apply_le(le_enc)

In [392]:
X, y = le_enc.loc[:, ~le_enc.columns.isin(["outcome_type"])], le_enc["outcome_type"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [393]:
# Training model 1
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier

In [394]:
rfc, knn, xgb = RandomForestClassifier(), KNeighborsClassifier(), XGBClassifier()

In [395]:
rfc.fit(X_train, y_train)
y_pred_rfc = rfc.predict(X_test)

In [396]:
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)

In [397]:
xgb.fit(X_train, y_train)
y_pred_xgb = xgb.predict(X_test)

### Classification report

In [398]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [399]:
print(classification_report(y_test, y_pred_rfc))

              precision    recall  f1-score   support

           0       0.74      0.91      0.81      6638
           1       0.78      0.09      0.16       153
           2       0.68      0.25      0.37        67
           3       0.83      0.68      0.75      1201
           4       1.00      0.07      0.12        15
           5       0.00      0.00      0.00         3
           6       0.00      0.00      0.00         0
           7       0.88      0.79      0.83      2985
           8       0.00      0.00      0.00        34
           9       0.76      0.64      0.70      4839

    accuracy                           0.78     15935
   macro avg       0.57      0.34      0.38     15935
weighted avg       0.78      0.78      0.77     15935

/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [400]:
print(classification_report(y_test, y_pred_knn))

              precision    recall  f1-score   support

           0       0.68      0.85      0.75      6638
           1       0.27      0.03      0.05       153
           2       0.50      0.19      0.28        67
           3       0.74      0.55      0.63      1201
           4       0.33      0.07      0.11        15
           5       0.00      0.00      0.00         3
           7       0.71      0.68      0.70      2985
           8       0.00      0.00      0.00        34
           9       0.68      0.53      0.60      4839

    accuracy                           0.69     15935
   macro avg       0.43      0.32      0.35     15935
weighted avg       0.68      0.69      0.67     15935

/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [401]:
print(classification_report(y_test, y_pred_xgb))

              precision    recall  f1-score   support

           0       0.73      0.92      0.82      6638
           1       0.55      0.07      0.13       153
           2       0.60      0.27      0.37        67
           3       0.82      0.68      0.75      1201
           4       0.00      0.00      0.00        15
           5       0.00      0.00      0.00         3
           6       0.00      0.00      0.00         0
           7       0.88      0.79      0.83      2985
           8       0.00      0.00      0.00        34
           9       0.78      0.62      0.69      4839

    accuracy                           0.77     15935
   macro avg       0.44      0.34      0.36     15935
weighted avg       0.77      0.77      0.76     15935

/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/yutikarege/Desktop/Personal Projects/AnimalShelterProject/venv/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

The models are obviously underperforming due to lack of quality features and a lot a bias in the output features. 

## Feature enhancements

In [402]:
df

,animal_type,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(years),age_upon_intake_age_group,intake_month,intake_weekday,intake_hour,intake_number,time_in_shelter_days,is_mix,animal_has_multicolor_fur,outcome_type,time_of_day_of_intake
0,Dog,Normal,Stray,Neutered Male,10.000000,7.5_to_10.0,12,Thursday,14,1.0,0.59,Yes,Yes,Return to Owner,Afternoon
1,Dog,Normal,Public Assist,Neutered Male,7.000000,5.0_to_7.5,12,Friday,10,2.0,1.26,Yes,Yes,Return to Owner,Late morning
2,Dog,Normal,Public Assist,Neutered Male,6.000000,5.0_to_7.5,3,Friday,14,3.0,1.11,Yes,Yes,Return to Owner,Afternoon
3,Dog,Normal,Owner Surrender,Neutered Male,10.000000,7.5_to_10.0,4,Wednesday,15,1.0,4.97,No,No,Transfer,Afternoon
4,Dog,Injured,Public Assist,Neutered Male,16.000000,15.0_to_17.5,11,Saturday,9,1.0,0.12,No,Yes,Return to Owner,Late morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79667,Cat,Normal,Stray,Unknown,0.038356,0.025_to_2.5,3,Thursday,16,1.0,0.08,Yes,No,Transfer,Afternoon
79668,Other,Normal,Wildlife,Unknown,2.000000,0.025_to_2.5,3,Thursday,17,1.0,0.05,Yes,No,Euthanasia,Evening
79669,Other,Normal,Wildlife,Unknown,1.000000,0.025_to_2.5,3,Thursday,17,1.0,0.05,Yes,No,Euthanasia,Evening
79670,Dog,Normal,Stray,Intact Male,0.410959,0.025_to_2.5,3,Thursday,18,1.0,1.76,Yes,Yes,Return to Owner,Evening
79671,Dog,Aged,Stray,Spayed Female,10.000000,7.5_to_10.0,3,Thursday,18,1.0,0.81,Yes,No,Euthanasia,Evening

In [403]:
for col in df.columns:
    if df[col].nunique() > 5:
        print(col, '='*5 , df[col].nunique(), "unique features")

intake_condition ===== 8 unique features
age_upon_intake_(years) ===== 45 unique features
age_upon_intake_age_group ===== 10 unique features
intake_month ===== 12 unique features

intake_weekday ===== 7 unique features
intake_hour ===== 24 unique features
intake_number ===== 13 unique features
time_in_shelter_days ===== 8357 unique features
outcome_type ===== 10 unique features

In [404]:
df["intake_condition"].value_counts()

intake_condition
Normal      70056
Injured      3997
Sick         3099
Nursing      1915
Aged          319
Other         147
Feral          92
Pregnant       47
Name: count, dtype: int64

In [405]:
df["intake_condition"] = df["intake_condition"].apply(lambda x: "Other" if x in ["Nursing", "Aged", "Other", "Feral", "Pregnant"] else x)

In [406]:
df["intake_condition"].value_counts()

intake_condition
Normal     70056
Injured     3997
Sick        3099
Other       2520
Name: count, dtype: int64

In [407]:
df["age_upon_intake_age_group"].value_counts()

age_upon_intake_age_group
0.025_to_2.5    59593
2.5_to_5.0      11013
7.5_to_10.0      3539
5.0_to_7.5       3422
10.0_to_12.5     1040
12.5_to_15.0      842
15.0_to_17.5      165
17.5_to_20.0       53
20.0_to_22.5        4
22.5_to_25.0        1
Name: count, dtype: int64

In [408]:
df.drop(["age_upon_intake_age_group"], axis=1, inplace=True) #it is safe to drop this feature since it is subjective to the type of pet

In [409]:
df.drop(["intake_number"], axis=1, inplace=True)

In [410]:
df

,animal_type,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(years),intake_month,intake_weekday,intake_hour,time_in_shelter_days,is_mix,animal_has_multicolor_fur,outcome_type,time_of_day_of_intake
0,Dog,Normal,Stray,Neutered Male,10.000000,12,Thursday,14,0.59,Yes,Yes,Return to Owner,Afternoon
1,Dog,Normal,Public Assist,Neutered Male,7.000000,12,Friday,10,1.26,Yes,Yes,Return to Owner,Late morning
2,Dog,Normal,Public Assist,Neutered Male,6.000000,3,Friday,14,1.11,Yes,Yes,Return to Owner,Afternoon
3,Dog,Normal,Owner Surrender,Neutered Male,10.000000,4,Wednesday,15,4.97,No,No,Transfer,Afternoon
4,Dog,Injured,Public Assist,Neutered Male,16.000000,11,Saturday,9,0.12,No,Yes,Return to Owner,Late morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79667,Cat,Normal,Stray,Unknown,0.038356,3,Thursday,16,0.08,Yes,No,Transfer,Afternoon
79668,Other,Normal,Wildlife,Unknown,2.000000,3,Thursday,17,0.05,Yes,No,Euthanasia,Evening
79669,Other,Normal,Wildlife,Unknown,1.000000,3,Thursday,17,0.05,Yes,No,Euthanasia,Evening
79670,Dog,Normal,Stray,Intact Male,0.410959,3,Thursday,18,1.76,Yes,Yes,Return to Owner,Evening
79671,Dog,Other,Stray,Spayed Female,10.000000,3,Thursday,18,0.81,Yes,No,Euthanasia,Evening

In [411]:
df["outcome_type"].value_counts()

outcome_type
Adoption           33594
Transfer           23799
Return to Owner    14791
Euthanasia          6244
Died                 690
Disposal             304
Rto-Adopt            179
Missing               46
Relocate              15
Other                 10
Name: count, dtype: int64

In [412]:
df["outcome_type"] = df["outcome_type"].apply(lambda x: "Other" if x in ["Died", "Disposal", "Rto-Adopt", 
                                                                         "Missing", "Relocate", "Other"] else x)

In [413]:
df["outcome_type"].value_counts()

outcome_type
Adoption           33594
Transfer           23799
Return to Owner    14791
Euthanasia          6244
Other               1244
Name: count, dtype: int64

In [414]:
le_enc_new = df.copy()

In [415]:
le_enc_new = apply_le(le_enc_new)

In [416]:
le_enc_new

,animal_type,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(years),intake_month,intake_weekday,intake_hour,time_in_shelter_days,is_mix,animal_has_multicolor_fur,outcome_type,time_of_day_of_intake
0,2,1,3,2,10.000000,12,4,14,0.59,1,1,3,0
1,2,1,2,2,7.000000,12,0,10,1.26,1,1,3,3
2,2,1,2,2,6.000000,3,0,14,1.11,1,1,3,0
3,2,1,1,2,10.000000,4,6,15,4.97,0,0,4,0
4,2,0,2,2,16.000000,11,2,9,0.12,0,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79667,1,1,3,4,0.038356,3,4,16,0.08,1,0,4,0
79668,3,1,4,4,2.000000,3,4,17,0.05,1,0,1,2
79669,3,1,4,4,1.000000,3,4,17,0.05,1,0,1,2
79670,2,1,3,1,0.410959,3,4,18,1.76,1,1,3,2
79671,2,2,3,3,10.000000,3,4,18,0.81,1,0,1,2

In [417]:
X, y = le_enc_new.loc[:, ~le_enc_new.columns.isin(["outcome_type"])], le_enc_new["outcome_type"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Random forest classifier

In [418]:
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)

In [419]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.73      0.91      0.81      6638
           1       0.83      0.69      0.75      1201
           2       0.69      0.11      0.20       272
           3       0.86      0.79      0.83      2985
           4       0.77      0.63      0.69      4839

    accuracy                           0.77     15935
   macro avg       0.78      0.63      0.66     15935
weighted avg       0.78      0.77      0.76     15935

In [420]:
print(accuracy_score(y_test, y_pred))

0.7716347662378412

### K-Nearest Neighbor

In [421]:
knn.fit(X_train, y_train)
y_pred_1 = knn.predict(X_test)

In [422]:
print(classification_report(y_test, y_pred_1))

              precision    recall  f1-score   support

           0       0.68      0.86      0.76      6638
           1       0.77      0.51      0.62      1201
           2       0.48      0.08      0.13       272
           3       0.70      0.70      0.70      2985
           4       0.69      0.53      0.60      4839

    accuracy                           0.69     15935
   macro avg       0.66      0.53      0.56     15935
weighted avg       0.69      0.69      0.68     15935

In [423]:
print(accuracy_score(y_test, y_pred_1))

0.6877314088484469

### Xgboost

In [424]:
xgb.fit(X_train, y_train)
y_pred_2 = xgb.predict(X_test)

In [425]:
print(classification_report(y_test, y_pred_2))

              precision    recall  f1-score   support

           0       0.73      0.93      0.82      6638
           1       0.82      0.69      0.75      1201
           2       0.62      0.11      0.19       272
           3       0.87      0.78      0.83      2985
           4       0.78      0.61      0.68      4839

    accuracy                           0.77     15935
   macro avg       0.77      0.62      0.65     15935
weighted avg       0.78      0.77      0.76     15935

In [426]:
print(accuracy_score(y_test, y_pred_2))

0.7715092563539379

### Feature selection on the current subset using Chi-square test

In [427]:
from sklearn.feature_selection import SelectKBest, chi2

best_feat = SelectKBest(score_func = chi2)
fit = best_feat.fit(X, y)

dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

feat_scores = pd.concat([dfcolumns, dfscores], axis = 1)
feat_scores.columns = ['Features', 'Score']

feat_scores.sort_values(['Score'], ascending=False)

                     Features          Score
8        time_in_shelter_days  573466.065695
4     age_upon_intake_(years)   30701.613606
3             sex_upon_intake   12735.065283
0                 animal_type    2465.760153
2                 intake_type    1168.322450
10  animal_has_multicolor_fur     625.168773
11      time_of_day_of_intake     349.521402
1            intake_condition     333.094266
5                intake_month     274.183296
9                      is_mix     162.238252
7                 intake_hour     104.168540
6              intake_weekday      13.406015

In [428]:
X_train_new = X_train.drop(['intake_hour', 'intake_month', 'is_mix', 'intake_weekday'], axis=1) #dropping the last 4 columns

In [429]:
X_test_new = X_test.drop(['intake_hour', 'intake_month', 'is_mix', 'intake_weekday'], axis=1) #dropping the last 4 columns

## Fitting model with the new subset

In [430]:
rfc_new = RandomForestClassifier()

In [431]:
rfc_new.fit(X_train_new, y_train)
y_pred_new = rfc_new.predict(X_test_new)

In [432]:
print(accuracy_score(y_test, y_pred_new))

0.7226231565735801

In [433]:
print(classification_report(y_test, y_pred_new))

              precision    recall  f1-score   support

           0       0.73      0.79      0.76      6638
           1       0.74      0.68      0.71      1201
           2       0.25      0.10      0.14       272
           3       0.80      0.78      0.79      2985
           4       0.67      0.64      0.65      4839

    accuracy                           0.72     15935
   macro avg       0.64      0.60      0.61     15935
weighted avg       0.72      0.72      0.72     15935

### Trying again with top 5 features

In [436]:
feat_scores["Features"].unique()

array(['animal_type', 'intake_condition', 'intake_type',
       'sex_upon_intake', 'age_upon_intake_(years)', 'intake_month',
       'intake_weekday', 'intake_hour', 'time_in_shelter_days', 'is_mix',
       'animal_has_multicolor_fur', 'time_of_day_of_intake'], dtype=object)

In [441]:
feat_scores.sort_values(by="Score", ascending=False)["Features"].to_list()

['time_in_shelter_days',
 'age_upon_intake_(years)',
 'sex_upon_intake',
 'animal_type',
 'intake_type',
 'animal_has_multicolor_fur',
 'time_of_day_of_intake',
 'intake_condition',
 'intake_month',
 'is_mix',
 'intake_hour',
 'intake_weekday']

In [442]:
X_train_top5 = X_train[['time_in_shelter_days',
                        'age_upon_intake_(years)',
                        'sex_upon_intake',
                        'animal_type',
                        'intake_type']]

X_test_top5 = X_test[['time_in_shelter_days',
                        'age_upon_intake_(years)',
                        'sex_upon_intake',
                        'animal_type',
                        'intake_type']]

In [443]:
rfc_top5 = RandomForestClassifier()

In [444]:
rfc_top5.fit(X_train_top5, y_train)
y_pred_t5 = rfc_top5.predict(X_test_top5)

In [445]:
print(classification_report(y_test, y_pred_t5))

              precision    recall  f1-score   support

           0       0.73      0.77      0.75      6638
           1       0.70      0.66      0.68      1201
           2       0.29      0.13      0.18       272
           3       0.78      0.76      0.77      2985
           4       0.64      0.63      0.64      4839

    accuracy                           0.71     15935
   macro avg       0.63      0.59      0.60     15935
weighted avg       0.70      0.71      0.70     15935

In [446]:
print(accuracy_score(y_test, y_pred_t5))

0.7078757452149357

#### We will retain the first version of the model i.e. 'rfc' but running K-fold to get the maximum possible accuracy that can be attained by this model

In [449]:
from sklearn.model_selection import cross_val_score

In [450]:
# Perform 5-fold cross-validation
scores = cross_val_score(rfc, X, y, cv=5)

# Calculate the mean accuracy
mean_accuracy = scores.mean()

print("Mean Accuracy:", mean_accuracy)

Mean Accuracy: 0.7428082352096499

In [451]:
scores

array([0.72036398, 0.74753687, 0.74017824, 0.75216518, 0.75379691])

## Freezing the model to predict outcome type

In [462]:
MODEL_PATH_TMP = DATA_PATH.replace("/data", "/models")
MODEL_PATH = os.path.join(MODEL_PATH_TMP, "ml_models/outcome.pkl")

In [463]:
import pickle

with open(MODEL_PATH, 'wb') as f:
    pickle.dump(rfc, f)